{% extends 'main/base.html' %}
{% load bootstrap5 %}
{% block title %}
{{ title }}
{% endblock %}
{% load bootstrap_icons %}

{% block content %}
    <form method="post" class="form" style="max-width: 25em; padding: 15px; width: 100%; margin: auto">
        {% csrf_token %}
        <h1 class="h3 fw-normal" style="margin-top: 10px; margin-bottom: 10px">Добавление новой записи в заявку #{{ bid.number }} по объекту {{ bid.object.name }}</h1>

        {{ form.house.label_tag }}<br>
        {{ form.house }}
        {{ form.title.label_tag }}<br>
        {{ form.title }}
        {{ form.date.label_tag }}<br>
        {{ form.date }}
        {% if form.date.errors %}
            <div class="alert alert-danger fade show mt-0" role="alert">{{ form.date.errors }}</div>
        {% endif %}
        {{ form.type.label_tag }}<br>
        {{ form.type }}
        <div class="mb-2 mt-3 form-check form-switch" id="checker">
            Оплата после доставки {{ form.prepaid }}
        </div>
        {{ form.cash.label_tag }}<br>
        {{ form.cash }}
        {{ form.quantity.label_tag }}<br>
        {{ form.quantity }}
        {% if form.quantity.errors %}
            <div class="alert alert-danger fade show mt-0" role="alert">{{ form.quantity.errors }}</div>
        {% endif %}
        {{ form.measure.label_tag }}<br>
        {{ form.measure }}
        {% if form.measure.errors %}
            <div class="alert alert-danger fade show mt-0" role="alert">{{ form.measure.errors }}</div>
        {% endif %}
        {{ form.price.label_tag }}<br>
        {{ form.price }}
        {% if form.price.errors %}
            <div class="alert alert-danger fade show mt-0" role="alert">{{ form.price.errors }}</div>
        {% endif %}
        {{ form.supplier.label_tag }}<br>
        {{ form.supplier }}
        {{ form.phase.label_tag }}<br>
        {{ form.phase }}
        {{ form.estimate.label_tag }}<br>
        {{ form.estimate }}
        {{ form.comment.label_tag }}<br>
        {{ form.comment }}



        {# {{ form.as_p }} #}
        {{ form.media }}
        {# {% bootstrap_form form layout="vertical" size="small" show_label=True %} #}

        {% buttons %}
            <button name="submit"  class="w-100 btn btn-lg btn-primary" style="margin-top: 10px">Сохранить</button>
        {% endbuttons %}
    </form>
    <div class="d-flex justify-content-center">
            <a class="btn btn-sm btn btn-secondary" href="{% url 'project:onebid' bid.id %}?{{ rollback }}">{% bs_icon 'reply' size='1.5em' color='white' extra_classes='mb-1' %} Вернуться</a>
    </div>
    <script>
        var id_type = document.getElementById("id_type");
        var checker = document.getElementById("checker");
        if (id_type.value != "a") {
            $(checker).attr("hidden", "hidden")
        } else {
            checker.removeAttribute("hidden");
        }

        id_type.oninput = function() {
            if (id_type.value != "a") {
                $(checker).attr("hidden", "hidden")
            } else {
                checker.removeAttribute("hidden");
            }
        }
    </script>
{% endblock content %}