{% extends 'main/base.html' %}
{% load bootstrap5 %}
{% block title %}
{{ title }}
{% endblock %}
{% load tags %}
{% load filters %}
{% load humanize %}

{% block content %}
    <form method="post" id="myForm" class="form" style="max-width: 25em; padding: 15px; width: 100%; margin: auto">
        {% csrf_token %}
        <h1 class="h3 fw-normal" style="margin-top: 10px; margin-bottom: 10px">Выгрузка контрактов в файл формата MS Excel</h1>

        {{ form.datefrom.label_tag }}<br>
        {{ form.datefrom }}
        {{ form.dateto.label_tag }}<br>
        {{ form.dateto }}
        {{ form.media }}

        {% buttons %}
            <button name="submit"  class="w-100 btn btn-lg btn-primary" style="margin-top: 10px">Выполнить</button>
        {% endbuttons %}
        {% if error %}
            <div class="alert alert-danger fade show mt-0" role="alert">{{ error }}</div>
        {% endif %}
        <p class="alert fw-normal" style="margin-top: 10px; margin-bottom: 10px">Процедура выгрузки может быть достаточно продолжительной, поэтому после нажатия кнопки Выполнить дождитесь начала загрузки xls-файла</p>
    </form>
    <script type="text/javascript">
        $('#myForm').one('submit', function() {
            $(this).find('button[type="submit"]').attr('disabled','disabled');
        });
    </script>
{% endblock %}