{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %}
{{ title }}
{% endblock %}
{% load bootstrap_icons %}


{% block content %}
    <form method="post" class="form" style="max-width: 25em; padding: 15px; width: 100%; margin: auto">
        {% csrf_token %}
        <h1 class="h3 fw-normal" style="margin-top: 10px; margin-bottom: 10px">Редактирование записи в архивной заявке #{{ arch.number }} по объекту {{ arch.object.name }}</h1>

        {{ form.house.label_tag }}<br>
        {{ form.house }}
        {{ form.title.label_tag }}<br>
        {{ form.title }}
        {{ form.date.label_tag }}<br>
        {{ form.date }}
        {% if form.date.errors %}
            <div class="alert alert-danger fade show mt-0" role="alert">{{ form.date.errors }}</div>
        {% endif %}
        {{ form.cash.label_tag }}<br>
        {{ form.cash }}
        {{ form.summary.label_tag }}<br>
        {{ form.summary }}
        {% if form.summary.errors %}
            <div class="alert alert-danger fade show mt-0" role="alert">{{ form.summary.errors }}</div>
        {% endif %}
        {{ form.quantity.label_tag }}<br>
        {{ form.quantity }}
        {{ form.cost.label_tag }}<br>
        {{ form.cost }}
        {{ form.measure.label_tag }}<br>
        {{ form.measure }}
        {{ form.phase.label_tag }}<br>
        {{ form.phase }}
        {{ form.estimate.label_tag }}<br>
        {{ form.estimate }}
        {{ form.spending.label_tag }}<br>
        {{ form.spending }}
        {{ form.materials.label_tag }}<br>
        {{ form.materials }}
        {{ form.foreman.label_tag }}<br>
        {{ form.foreman }}
        {{ form.new_supplier.label_tag }}<br>
        {{ form.new_supplier }}
        {{ form.comment.label_tag }}<br>
        {{ form.comment }}

        {# {{ form.as_p }} #}
        {{ form.media }}
        {# {% bootstrap_form form layout="vertical" size="small" show_label=True %} #}
        {% buttons %}
            <button name="submit"  class="w-100 btn btn-lg btn-primary" style="margin-top: 10px">Сохранить</button>
        {% endbuttons %}
    </form>
     <div class="d-flex justify-content-between" style="max-width: 330px; margin: auto; padding-left: 15px; padding-right: 15px;">
            <a class="btn btn-sm btn btn-secondary" href="{% url 'project:onearchiveitem' arch.id %}?page={{ page }}&q={{ number }}">{% bs_icon 'reply' size='1.5em' color='white' extra_classes='mb-1' %} Вернуться</a>
            <a class="btn btn-sm btn btn-warning" href="{% url 'project:detailsdelete' content.id %}?page={{ page }}&q={{ number }}">{% bs_icon 'trash' size='1.5em' color='black' extra_classes='mb-0' %}  Удалить!</a>
    </div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>
 {#   <button id="create-book" class="btn btn-primary" type="button" name="button">Create book</button> #}
{% endblock content %}
