{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load filters %}


<div class="modal-header" xmlns="http://www.w3.org/1999/html">
        <h5 class="modal-title">{{ title }} <span class="badge rounded-pill bg-warning">{{ house.name }}</span> объекта <span class="badge rounded-pill bg-warning">{{ object.name }}</span> по смете <span class="badge rounded-pill bg-warning">{{ estimate.name }}</span> за период с {{ date_from|date:"d/m/Y" }} по {{ date_to|date:"d/m/Y" }}</h5>
    </div>
    <div class="modal-body">
        <table width="100%">
            {% for item in archive %}
                <tr style="border-top: 1pt solid black; border-bottom: 1pt solid black">
                    <td width="13%" style=" border-left: 1pt solid black; border-right: 1pt solid black">
                        {#{% bs_icon 'box-seam' size='0.6em' color='gray' extra_classes='pl-3 mb-1' %}#}(a){{ item.archive_id__number }}
                    </td>
                    <td style="border-right: 1pt solid black">
                        {{ item.date|date:"d.m.Y" }}
                    </td>
                    <td width="20%" style="border-right: 1pt solid black">
                        <b>{{ item.summary }}</b>
                    </td>
                    <td style="border-right: 1pt solid black">
                        <i>{{ item.phase_id__name }}/{{ item.type }}</i>
                    </td>
                    <td style="border-right: 1pt solid black">
                        {{ item.title }} <i>[{{ item.supplier }}]</i> <b>{{ item.comment }}</b>
                    </td>
                </tr>

            {% endfor %}
{#        </table> #}
{#        <table width="100%"> #}
            {% for item in bids %}
                <tr style="border-bottom: 1pt solid black; border-top: 1pt solid black">
                    <td width="13%" style=" border-left: 1pt solid black; border-right: 1pt solid black">
                        {{ item.bid_id__number }}
                    </td>
                    <td style="border-right: 1pt solid black">
                        {{ item.date|date:"d.m.Y" }}
                    </td>
                    <td width="20%" style="border-right: 1pt solid black">
                        <b>{{ item.price | multiply:item.quantity|floatformat:2 }}</b>
                    </td>
                    <td style="border-right: 1pt solid black">
                        <i>{{ item.phase_id__name }}/{{ item.type }}</i>
                    </td>
                    <td style="border-right: 1pt solid black">
                        {{ item.title }} <i>[{{ item.supplier_id__name }}]</i> <b>{{ item.comment }}</b>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Возврат</button>
    </div>
