{% load bootstrap5 %}

{% load bootstrap_icons %}
{% load filters %}



<form method="post" class="form" id="myForm" style="max-width: 35em; padding: 0px; width: 100%; margin: auto">
  {% csrf_token %}
    <div class="modal-header" xmlns="http://www.w3.org/1999/html">
        <h5 class="modal-title">Выберите поставщика, которому будут перенесены обороты</h5>
    </div>
    <div class="modal-body">

            {{ form.name.label_tag }}<br>
            {{ form.name }}
            {{ form.newsupplier.label_tag }}<br>
            {{ form.newsupplier }}


    </div>
        {% buttons %}
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Возврат</button>
        <button type="submit" class="btn btn-warning" id="confirm-supplier-remove">Выполнить</button>
    </div>
        {% endbuttons %}
</form>

    <script type="text/javascript">
        $('#myForm').one('submit', function() {
            $(this).find('button[type="submit"]').attr('disabled','disabled');
        });
    </script>
<script type="text/javascript">
        $(document).on('click', '#confirm-supplier-remove', function(){
                return confirm('Вы действительно подтверждаете перенос оборотов другому поставщику?');
            })
</script>

