{% extends 'main/base.html' %}
{% load bootstrap5 %}
{% block title %}
{{ title }}
{% endblock %}
{% load bootstrap_icons %}
{% load filters %}

{% block content %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div>
                    <h1>Шаблоны заказов</h1>
                </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="btn btn-secondary active" href="{% url 'project:sampleadd' %}">
                                {% bs_icon 'clipboard-plus' size='1.5em' color='white' extra_classes='mb-1' %}
                                <span class="fs-7 fw-semibold float-right">Добавить</span>
                            </a>
                        </li>


                    </ul>
            </div>
        </nav>
    {% if samples %}
        <div class="accordion pt-2" id="accordionPanelsStayOpen" style="max-width: 50em; margin: auto">
        {% for sample in samples %}
                <div class="accordion-item">
                    <h3 class="accordion-header" id="panelsStayOpen-heading-{{ sample.id }}">
                        {% if sample_id == sample.id %}
                            <button class="accordion-button"  style="padding: 12px" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ sample.id }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse-{{ sample.id }}">
                        {% else %}
                            <button class="accordion-button collapsed"  style="padding: 12px" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ sample.id }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse-{{ sample.id }}">
                        {% endif %}
                            <table width="100%">
                                <tr>
                                    {% if sample.hidden %}
                                        <td>&#10008;<b>{{ sample.title }}</b></td>
                                    {% else %}
                                        <td>&#10004;<b>{{ sample.title }}</b></td>
                                    {% endif %}
                                </tr>
                            </table>
                        </button>
                    </h3>
                    {% if sample_id == sample.id %}
                        <div id="panelsStayOpen-collapse-{{ sample.id }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-{{ sample.id }}">
                    {% else %}
                        <div id="panelsStayOpen-collapse-{{ sample.id }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-{{ sample.id }}">
                    {% endif %}
                        <div class="accordion-body pt-2 pb-0">
                            <div class="accordion" id="accordionPanelsStayOpen-{{ sample.id }}">
                                <nav class="navbar pt-0">
                                    <div class="container-fluid justify-content-end px-0">
                                        <a class="btn btn-sm btn btn-secondary" href="{% url 'project:sampleedit' sample.id %}">Описание</a>&nbsp;
                                    </div>
                                </nav>

                                <div class="list-group" style="overflow-y: auto;">
                                    {% for detail in sample.sampledetail_set.all|in_sample %}
                                            <a href="{% url 'project:sampledetailedit' detail.id %}" class="list-group-item list-group-item-action">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h6 class="mb-1"><span class="badge rounded-pill bg-warning">{{ forloop.counter}}</span> {{ detail.description }}</h6>
                                                    <small>
                                                        <span class="badge rounded-pill bg-info">{{ detail.quantity }}</span> {{ detail.get_measure_display }}
                                                    </small>
                                                </div>
                                                <p class="mb-1">
                                                    {% if detail.code and detail.code.strip %}
                                                            Код: {{ detail.code }}
                                                    {% endif %}
                                                </p>

                                            </a>
                                    {% endfor %}
                                </div>
                                <nav class="navbar pt-2">
                                    <div class="container-fluid justify-content-center px-0">
                                        <a class="btn btn-sm btn btn-secondary" href="{% url 'project:sampledetailadd' sample.id %}">&#10010 Добавить</a>
                                    </div>
                                </nav>

                            </div>
                        </div>
                    </div>
                </div>
        {% endfor %}
        </div>

    {% else %}
        <h3 class="mb-3 mt-3">Список шаблонов пуст</h3>
    {% endif %}
{% endblock %}