{% extends 'main/base.html' %}
{% load bootstrap5 %}
{% block title %}
{{ title }}
{% endblock %}
{% load bootstrap_icons %}


{% block content %}
<h1>Contact us</h1>

    {% if datefrom_ or dateto_ %}
        <p style="color: red;">
            Выбрать данные с {{ datefrom_ }} по {{ dateto_ }}
        </p>
    {% endif %}

   <form method="post" class="form" style="max-width: 25em; padding: 15px; width: 100%; margin: auto">
        {% csrf_token %}
        <h1 class="h3 fw-normal" style="margin-top: 10px; margin-bottom: 10px">Отчёт по расходам за период</h1>

        {# {% bootstrap_form form layout="vertical" size="small" show_label=True %} #}

        {{ form.datefrom.label_tag }}<br>
        {{ form.datefrom }}
        {{ form.dateto.label_tag }}<br>
        {{ form.dateto }}

        {% buttons %}
            <button name="submit"  class="w-100 btn btn-lg btn-primary" style="margin-top: 10px">Выполнить</button>
        {% endbuttons %}
    </form>
{% endblock %}